.raw_logo {
  height: 305;
  width: 440;
}


.logo-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Masquer l'image et afficher le loader si l'écran est petit */
@media (max-width: 600px) {
  .logo-loaders {
    display: none;
  }

}
